body
{
    background-image: url(pictures/background\(1\).png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

table,td,tr
{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
    
}

.invis
{
    opacity: 0;
}

.navbar
{
    background-color: black;
    color: white;
    overflow: hidden;
}

h2
{
    text-align: center;
    font-size: 36px;
    color: white;
}
.offers
{
    color: white;
    font-size: 24px;
    text-align: center;
}
.pics
{
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.foot
{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    color: white;
    background-color: black;
    overflow: hidden;
    margin-bottom: 0px;
}